.weui_tab_bd {
  padding-bottom: 4.57143rem; }

.weui_media_box {
  padding: 0.38095rem; }

.weui_tabbar .weui_tabbar_item {
  padding: 0.38095rem 0; }
  .weui_tabbar .weui_tabbar_item .weui_tabbar_label {
    font-family: "SimSun" "arial" "Helvetica" "NSimSun" "FangSong" "Microsoft YaHei";
    color: #888;
    font-weight: normal;
    font-size: 0.60952rem; }
  .weui_tabbar .weui_tabbar_item.weui_bar_item_on .weui_tabbar_label {
    color: #09BB07; }
  .weui_tabbar .weui_tabbar_item .weui_tabbar_icon {
    width: 0.95238rem;
    height: 0.95238rem; }
    .weui_tabbar .weui_tabbar_item .weui_tabbar_icon img {
      width: 100%;
      height: 100%; }

.weui_cell {
  padding: 0.38095rem 0.57143rem; }

.weui_cells {
  margin-top: 0; }
  .weui_cells .weui_cell:before {
    left: 0; }
  .weui_cells .weui_cell_bd {
    position: relative; }
    .weui_cells .weui_cell_bd .btn_primary {
      position: absolute;
      right: 0.38095rem;
      top: 0rem;
      border: none; }
    .weui_cells .weui_cell_bd .jc-content {
      font-family: "SimSun" "arial" "Helvetica" "NSimSun" "FangSong" "Microsoft YaHei";
      color: #222;
      font-weight: normal;
      font-size: 0.60952rem; }
  .weui_cells .weui_cell_ft:after {
    height: 0.38095rem;
    width: 0.38095rem;
    border-width: 0.07619rem 0.07619rem 0 0; }
  .weui_cells .weui_select {
    line-height: normal;
    height: 1.29524rem; }
  .weui_cells .has_btn {
    min-height: 1.29524rem; }
    .weui_cells .has_btn .weui_input {
      padding-right: 5.71429rem; }

body {
  line-height: normal; }

* {
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

.page-part-split {
  height: 0.38095rem;
  background-color: #EFEFEF; }

.btn_primary {
  border: 1px solid #224491;
  background-color: #224491;
  font-family: "Microsoft YaHei";
  color: #fff;
  font-weight: normal;
  font-size: 0.60952rem;
  color: #fff !important; }
  .btn_primary:visited {
    color: #183168; }
  .btn_primary:active {
    color: #fff;
    background-color: #183168; }

.btn {
  padding: 0.22857rem 0.45714rem; }

.w-percent-0 {
  width: 0%; }

.w-percent-10 {
  width: 10%; }

.w-percent-20 {
  width: 20%; }

.w-percent-30 {
  width: 30%; }

.w-percent-40 {
  width: 40%; }

.w-percent-50 {
  width: 50%; }

.w-percent-60 {
  width: 60%; }

.w-percent-70 {
  width: 70%; }

.w-percent-80 {
  width: 80%; }

.w-percent-90 {
  width: 90%; }

.w-percent-100 {
  width: 100%; }

.w-percent-25 {
  width: 25%; }

.w-percent-33 {
  width: 33.333%; }

.login .logoDiv {
  margin: 50px auto; }
  .login .logoDiv .logoPic {
    width: 90px;
    height: 120px;
    margin: 0 auto; }
    .login .logoDiv .logoPic img {
      width: 100%;
      height: 100%; }
  .login .logoDiv .systemTitle {
    margin-top: 30px;
    text-align: center;
    font-family: "SimSun" "arial" "Helvetica" "NSimSun" "FangSong" "Microsoft YaHei";
    color: #204492;
    font-weight: 600;
    font-size: 1.44762rem; }
.login .weui_cells {
  width: 90%;
  margin: 0 auto; }
  .login .weui_cells:before {
    border: none; }
  .login .weui_cells .weui_input {
    border: none; }
    .login .weui_cells .weui_input:hover, .login .weui_cells .weui_input:focus, .login .weui_cells .weui_input:active {
      outline: none;
      box-shadow: none; }
    .login .weui_cells .weui_input:focus, .login .weui_cells .weui_input:active {
      border: none;
      outline: none; }
.login .weui_btn_area {
  width: 90%;
  margin: 30px auto; }

.listPage {
  height: 100%; }
  .listPage .weui_tab_bd {
    background-color: #EFEFEF; }
  .info-part {
    padding: 0.38095rem; }
    .info-part > li {
      font-size: 0;
      background-color: #fff;
      margin-bottom: 0.38095rem;
      border: 1px solid #ddd; }
      .info-part > li .weui_media_box .weui_media_title {
        font-family: "SimSun" "arial" "Helvetica" "NSimSun" "FangSong" "Microsoft YaHei";
        color: #222;
        font-weight: normal;
        font-size: 0.7619rem; }
        .info-part > li .weui_media_box .weui_media_title .type-name {
          line-height: 1.06667rem; }
        .info-part > li .weui_media_box .weui_media_title .check-time {
          margin-left: 0.7619rem;
          line-height: 1.06667rem; }
      .info-part > li .weui_media_box .weui_media_desc {
        margin-top: 0.30476rem; }
        .info-part > li .weui_media_box .weui_media_desc > span {
          display: block;
          margin-bottom: 0.07619rem;
          font-family: "SimSun" "arial" "Helvetica" "NSimSun" "FangSong" "Microsoft YaHei";
          color: #666;
          font-weight: normal;
          font-size: 0.53333rem; }
      .info-part > li .item-link {
        display: block; }
      .info-part > li .item-state {
        text-align: center;
        min-width: 3.04762rem;
        border: 1px solid #ddd;
        padding: 0.22857rem 0.60952rem;
        font-family: "SimSun" "arial" "Helvetica" "NSimSun" "FangSong" "Microsoft YaHei";
        color: #222;
        font-weight: normal;
        font-size: 0.53333rem; }
      .info-part > li span.item-state {
        background-color: #ddd; }
  .info-title {
    border-top: none;
    height: 1.90476rem;
    background-color: #fff;
    border-bottom: 1px solid #CCC; }
    .info-title span {
      padding: 0 0.45714rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      min-width: 4.57143rem;
      border-bottom: 4px solid #0075C2;
      text-shadow: none;
      float: left;
      text-align: left;
      height: 1.90476rem;
      line-height: 1.90476rem;
      font-family: "Microsoft YaHei";
      color: #3880bd;
      font-weight: normal;
      font-size: 0.60952rem; }
    .info-title .btn_add {
      margin-right: 0.38095rem;
      margin-top: 0.38095rem; }

.check-info-detail .weui_cell_bd {
  min-height: 0; }
  .check-info-detail .weui_cell_bd .btn {
    font-size: 0.53333rem;
    top: -0.07619rem; }
.check-info-detail .weui_label {
  font-family: "SimSun";
  color: #222;
  font-weight: normal;
  font-size: 0.60952rem;
  width: 3.80952rem; }
.check-info-detail .weui_input {
  font-family: "SimSun";
  color: #222;
  font-weight: normal;
  font-size: 0.60952rem; }
.check-info-detail .weui_select {
  height: 0.8381rem;
  font-family: "SimSun";
  color: #222;
  font-weight: normal;
  font-size: 0.60952rem; }

body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: #EFEFEF; }

.container {
  height: 100%;
  overflow-y: auto; }

.userInfoPart {
  min-height: 9.90476rem;
  background-color: #008BC3;
  padding-top: 1.90476rem; }
  .userInfoPart .ico_system {
    background: url("../../image/ico_logo.png") center no-repeat;
    width: 3.42857rem;
    height: 4.57143rem;
    margin: 0 auto;
    background-size: 100% 100%; }
  .userInfoPart .userInfoDiv {
    margin-top: 1.37143rem;
    padding-bottom: 0.7619rem; }
    .userInfoPart .userInfoDiv p {
      font-size: 1.37143rem;
      color: #A7D5E2;
      margin-bottom: 0.7619rem; }
      .userInfoPart .userInfoDiv p span {
        margin-left: 0.95238rem; }

.weui_grid {
  padding: 1.90476rem 0;
  width: 50%; }
  .weui_grid:nth-child(3n):before {
    border-right-width: 1px; }
  .weui_grid:nth-child(2n):before {
    border-right-width: 0; }
  .weui_grid .weui_grid_icon {
    width: 2.85714rem;
    height: 3.27619rem; }
    .weui_grid .weui_grid_icon img {
      width: 100%;
      height: 100%; }
  .weui_grid .weui_grid_label {
    margin-top: 0.57143rem;
    font-family: "SimSun" "arial" "Helvetica" "NSimSun" "FangSong" "Microsoft YaHei";
    color: #222;
    font-weight: normal;
    font-size: 0.91429rem; }

/*# sourceMappingURL=index.css.map */
