@charset "utf-8";
.actionsheet-bookList{
    .weui_actionsheet_cell{
        padding-top: 0;
    }
    .weui_actionsheet{
        top: 0;
        overflow: auto;
    }
    dl{
        text-align: left;
        @include setFontInfo(#222, $defaultFontFamily, px2rem(18), normal);
        dd{
            padding: px2rem(10);
            border-bottom: 1px solid #ddd;
        }
        dt{
            .weui_cell{
                padding: px2rem(5) px2rem(20);
                border-bottom: 1px solid #ddd;
                color: #222;
            }
            display: block;
            font-size: px2rem(16);
            .weui_cell_bd{
                padding-left: px2rem(20);
            }
        }
    }
    .weui_actionsheet_action{
        margin: px2rem(10) 0;
        .weui_actionsheet_cell{
            padding: px2rem(10) 0;
            @include setFontInfo(#222, $defaultFontFamily, px2rem(18), normal);
        }
    }
}
.check-info-detail{
    padding-bottom: px2rem(120);
}
.layout-footer{
    @include setBackgroundColor(#fff);
    
    .raido-option-list{
        @include setFontInfo(#222, $defaultFontFamily, px2rem(18), normal);
        .raido-item{
            float: left;
            overflow: hidden;
            width: 25%;
            @include setLine(px2rem(50),px2rem(50));
            border-left: 1px solid #ddd;
            border-top: 1px solid #666;
            text-align: center;
            &:first-child{
                border-left: none;
            }
            input{
                margin-right: px2rem(8);
            }
        }
    }
    .weui_dialog_ft{
        margin-top: 0;
    }
    .weui_btn_footer{
        text-align: center;
        border-left: none;
        border-right: none;
        height: px2rem(45);
        line-height: px2rem(45);
        border-top: 1px solid #ddd;
        @include setFontInfo(#222, $defaultFontFamily, px2rem(18), normal);
        &:first-child{
            border-right: 1px solid #ddd;
        }
    }
}

.check-info-item{
    .weui_panel_bd{
        margin: px2rem(10);
        @include setBackgroundColor(#fff);
    }

    .ng-info{
        display: none;
        margin-top: px2rem(10);
        .weui_cells{
            &:before,&:after{
                border-color: #333;
            }
            .weui_textarea{
                @include setFontInfo(#666, $defaultFontFamily, px2rem(16), normal);
            }
            .weui_textarea_counter{
                @include setFontInfo(#666, $defaultFontFamily, px2rem(16), normal);
            }
        }
    }
}

.weui_panel_bd{
    .weui_media_desc,
    .weui_media_title{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 222;
        white-space: normal;
    }
}