@charset "utf-8";
//auth:linyh
//头部样式
.layout-header{
    $header-height : px2rem(50);
    $header-l-r-padding: px2rem(10);
    position: fixed;
    width: 100%;
    left:0;
    height: $header-height;
    @include setBackgroundColor(#000);
    .header-btn-l,
    .header-btn-r{
        position: absolute;
        top: px2rem(15);
        @include setLine(px2rem(25),px2rem(25));
        @include setFontInfo(#666, $defaultFontFamily, px2rem(20), normal);
        color: #fff;
    }
    .header-btn-l{
        left: $header-l-r-padding;
        &:before{
            vertical-align: bottom;
            margin-right: px2rem(10);
            content: '';
            display: inline-block;
            @include size(px2rem(15),px2rem(25));
            background: url("../../image/ico_left.png") center no-repeat;
            background-size: 100% 100%;
        }
    }
    .page-title{
        text-align: center;
        //margin: 0 15%;
        position: absolute;
        left:px2rem(75);
        right:px2rem(75);
        @include text-overflow();
        @include setLine($header-height,$header-height);
        color: #fff;
        @include setFontInfo(#fff, $defaultFontFamily, px2rem(26), normal);
    }
    .header-btn-r{
        cursor: pointer;
        right: $header-l-r-padding;
        @include setNoOutLine();
        @include setBackgroundColor();
        border: none;
    }
}