@charset "utf-8";

.login {
    .logoDiv {
        margin: 50px auto;
        .logoPic {
            width: 90px;
            height: 120px;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .systemTitle {
            margin-top: 30px;
            text-align: center;
            @include setFontInfo(#204492, $defaultFontFamily, px2rem(38), 600);
        }
    }
    .weui_cells {
        width: 90%;
        margin: 0 auto;

        .weui_label {
            width: px2rem(100);
            @include setFontInfo(#222, $defaultFontFamily, px2rem(18), normal);
        }
        &:before {
            border: none;
        }
        .weui_cell_bd{
            @include setFontInfo(#222, $defaultFontFamily, px2rem(18), normal);
        }
        .weui_input {
            @include setNoOutLine();
            &:focus,
            &:active {
                border: none;
                outline: none;
            }
            border: none;
        }
        .weui_cell{
            border-bottom: 1px solid  #666;
            &:last-child{
                border-bottom:none;
            }
        }
    }
    .weui_btn_area {
        width: 90%;
        margin: px2rem(30) auto;
    }
}