@charset "utf-8";
.unit_part{
    padding: px2rem(10);
    padding-bottom: px2rem(60);
    .unit_item{
        border: 1px solid #ddd;
        @include setBackgroundColor(#fff);
        margin-bottom: px2rem(10);
        padding: px2rem(10);
        dt{
            @include setFontInfo(#222, $defaultFontFamily, px2rem(20), normal);
            margin-bottom: px2rem(10);
        }
        dd{
            @include setFontInfo(#666, $defaultFontFamily, px2rem(14), normal);
            margin-bottom: px2rem(5);
        }
    }
}
.fixed-bottom{
    .weui_btn_footer{
        @include setBackgroundColor(#0075C2);
        color: #fff;
        &:first-child{
            @include setBackgroundColor(green);
        }
    }
}
