@charset "utf-8";

@import "ship-ui/mixin/px2rem";
//基础文件
@import "ship-ui/mixin/mixin";
@import "ship-ui/variables";

.logoDiv{
    .logoPic{
        width: px2rem(200);
        margin: px2rem(100) auto px2rem(30);
        img{
            width: 100%;
        }
    }
    .systemTitle{
        text-align: center;
        @include setFontInfo($fontColor:$gray-666,$fontSize:px2rem(40));
    }
}
.loginInfo{
    width: 80%;
    margin: px2rem(30) auto;
    .ui-btn{
        background-color: #224491;
        font-size: px2rem(36);
        letter-spacing: px2rem(10);
    }
}