@charset "utf-8";
//关于固定在页脚，或者页头的固定的导航
.ui_tabbar{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: fixed;
    z-index: 500;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    background-color: #f7f7fa;
    .ui_tabbar_item{
        display: block;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        text-decoration: none;
        //padding: 7px 0 0;
        -webkit-tap-highlight-color: transparent;
        padding: 0.38095rem 0;
        &.ui_bar_item_on{
            .ui_tabbar_label{
                color: #09BB07;
            }
        }
    }
    .ui_tabbar_icon{
        width: 0.95238rem;
        height: 0.95238rem;
        margin: 0 auto;
        img{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .ui_tabbar_label{
        color: #888;
        font-weight: normal;
        font-size: 0.60952rem;
        text-align: center;
        margin-top: px2rem(10);
    }
}